* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}   
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #120c0c;
}

.login-box {
  width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #ff4d6d;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #ff2d55;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
